# General
.DS_Store
.AppleDouble
.LSOverride

# Idea
.idea
*.iml

# Generated Artifacts
/dist

# Node
node_modules

# Logs
logs
# General
.DS_Store
.AppleDouble
.LSOverride

# Generated Artifacts
/dist

# Node
node_modules

# Logs
logs
*.log