ul
    &.navbar_list
        position: absolute
        right: 0
        display: flex
        padding: 0
        justify-content: center
        li
            list-style: none
            &:not(:last-child)
                margin-right: 1em
            a
                text-decoration: none
                display: inline-block
                text-indent: -999ex
                width: .75em
                height: .75em
                background-color: rebeccapurple
                border-radius: 50%
                &:hover
                    background-color: magenta