body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #639;
}
@media (min-width: 414px) {
  body {
    font-size: 12px;
  }
}
@media (min-width: 769px) {
  body {
    font-size: 14px;
  }
}
@media (min-width: 1025px) {
  body {
    font-size: 16px;
  }
}
body,
html {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.flex {
  -webkit-display: flex;
  -moz-display: flex;
  display: flex;
  -webkit-display: box;
  -moz-display: box;
  display: box;
}
.frame {
  width: 100%;
  height: 100%;
  justify: center;
  background-color: #08060a;
}
.hero-title {
  opacity: 0.35;
  display: flex;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
}
.hero-title svg#title {
  width: 50vw;
  max-height: 6.25vw;
}
.hero-title svg#title text {
  font-size: 8.1vmax;
}
.hero-wrapper {
  overflow: hidden;
  max-height: 4.25vmax;
}
.bkgd-dark {
  background-color: #010b12;
}
