//********************************************
// Resets, headers and footers
//********************************************
body
    margin: 0
    font-family: 'Roboto', sans-serif
    font-size: 12px
    font-weight: 
    color:  #2d2d2d
    @media (min-width:414px)
        font-size:12px
    @media (min-width:769px)
        font-size:14px
    @media (min-width:1025px)
        font-size:16px

removeMargins = 'body, html'
{removeMargins}
    margin 0
    width 100vw
    height 100vh
    overflow hidden

vendor(prop, args)
    -webkit-{prop} args
    -moz-{prop} args
    {prop} args

//********************************************
// Layout
//********************************************

.flex
    vendor('display', flex)
    vendor('display', box)

section
    :first-child
        margin-top: 2em

.content-box
    max-width 1200px
    margin: auto
    position: relative

.small-wrapper
    max-width: 30vmax

.frame
    width 100%
    height 100%
    justify center
    background-color rgb(8,6,10)

.hero-title
    opacity: .35
    display: flex
    justify-content: center
    font-family: 'Nunito', sans-serif
    svg
        &#title
            width: 50vw
            max-height: 6.25vw
            text
                font-size: 8.1vmax
.hero-wrapper
    max-height: 4.25vmax
    margin-top: 1em
    position: relative
    overflow: hidden
    &:after
        content: ''
        position: absolute
        top: 0
        height: 100%
        width: 100%
        box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,.1) 

// Colors
.bkgd-dark
    background-color: #010B12

// Flex module 
.flex_center
    justify-content: center